@media (max-width : 1070px)
	.overview
		.container
			padding-left: 20px
			padding-right: 20px

		.description
			padding-top: 0

@media (max-width: 950px)
	.overview
		li
			.container
				img
					float: none
					width: 100%
					margin: 0 auto;
					display: block;

				.description
					float: none
					width: 100%
					margin: 0 auto;
					padding-top: 30px
					padding-left: 0
					padding-right: 0

					h3
						text-align: center

@media (max-width : 550px)
	header
		padding-top: 0

		h1
			font-size: 45px

		h2
			font-size: 18px

	.img-overlay
		padding-top: 15px

@media (max-width : 550px)
	.appstore
		position: relative

		.slogan
			display: none

		img
			display: block
			margin: 0 auto
