@media (max-width : 550px)
	header
		padding-top: 0

	.img-overlay
		padding-top: 15px

@media (max-width : 550px)
	.appstore
		position: relative

		.slogan
			display: none

		img
			display: block
			margin: 0 auto
