*
	margin: 0
	padding: 0
	font-family: "Open Sans", sans-serif

.container
	width: 1200px
	margin: 0 auto
	box-sizing: border-box

header
	height: 700px
	overflow: hidden
	padding-top: 50px;
	border-top: 10px solid rgba(0,0,0,.3)
	border-bottom: 1px solid rgba(0,0,0,.3);
	text-align: center;
	background-color: #1188E6;
	color: white
	text-shadow: 1px 1px rgba(0,0,0,.3)
	-webkit-font-smoothing: antialiased

.header-container
	width: 800px;
	margin: 0 auto;

	h1
		padding: 10px
		font-size: 55px
		font-weight: 500

	h2
		padding: 5px
		font-size: 23px
		font-weight: 500

.img-overlay
	position: relative
	height: 675px
	padding-top: 50px

	img
		position: absolute
		left: 0
		z-index: 10
		box-shadow: 0 0 50px rgba(0,0,0,.3);
		-webkit-user-select: none

		&:first-child, &:last-child
			z-index: 1
			top: 205px

		&:first-child
			left: -180px

		&:last-child
			left: 380px

ul
	list-style: none

.overview
	li
		background-color: #2E4358
		color: white

		&:nth-child(2n)
			background-color: #D7EBFB
			color: black

			img
				float: right

			.description
				float: left

		.container:after
			content: ''
			clear: both
			display: block

	.container
		padding: 50px

	img
		box-shadow: 0 0 50px rgba(0,0,0,.5)

	.description
		float: right
		width: 500px
		padding-top: 50px;
		line-height: 2;

	p
		padding-top: 10px
		opacity: .85
